@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html {
    font-size: 10px; 
}

body {
    background-color: hsl(185, 75%, 39%); 
    min-height: 100vh; 
    position: relative; 
    overflow: hidden; 
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "Kumbh Sans",  sans-serif; 
}

/* Setting up image sizes and background images */ 

img {
    width: 100%; 
}

.img {
    width: 100%; 
}

.img1 {
    position: absolute; 
    top: 0; 
    left: 0; 
    transform: translatex(-50%) translatey(-50%);
    z-index: -3; 
}

.img2 {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    transform: translateX(50%) translateY(50%); 
    z-index: -3; 
}

.screen-container {
    min-height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* Setting up the content of the card */ 

main {
    max-width: 35rem; 
    margin: 2.4rem;  
    background: white; 
    border-radius: 1rem; 
}

.background-card, .background-card img {
    height: 14rem; 
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.face {
    width: 10rem; 
    border-radius: 50%; 
    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translatex(-50%) translatey(-50%); 
    border: .4rem solid white; 
}

.face img {
    border-radius: 50%; 
}

.text-content {
    text-align: center;
    border-bottom: 1px solid hsla(0, 0%, 59%, .5); 
    position: relative; 
    padding-top: 6.8rem; 
    padding-bottom: 2rem; 
}

.bold {
    font-size: 1.8rem; 
    font-weight: 700; 
}

span {
    color: hsl(0, 0%, 59%); 
    font-weight: 400;
}

.text {
    font-size: 1.4rem; 
    color: hsl(0, 0%, 59%); 
    margin-top: 1rem; 
}

.stats {
    display: flex; 
    padding: 2rem 4.6rem; 
    justify-content: space-between;
    align-items: center; 
}

.stats .text {
    margin-top: .5rem; 
    font-size: 1rem; 
    letter-spacing: .2rem;
}

.stat {
    text-align: center;
}

/* Repositioning Background circles */ 

@media screen and (min-width: 776px) {
    .img1 {
        transform: translatex(-50%) translatey(-60%);
    }

    .img2 {
        transform: translateX(50%) translateY(60%); 
    }
}

@media screen and (min-width: 990px) {
    .img1 {
        transform: translatex(-50%) translatey(-70%);
    }

    .img2 {
        transform: translateX(50%) translateY(70%); 
    }
}